html {
	font-family: 'Stolzl', sans-serif;
}
body {
	background-color: var(--dark-grey-background);
}
/* Menu */
.main {
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
}
.menu {
	position: fixed;
}
.menu__container {
	padding: 3rem 4rem 2rem 4rem;
	border-right: 1px solid var(--light-grey-opacity);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	max-width: 15rem;
}
.menu__nav {
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--light-grey-opacity);
}
.menu__logo {
	margin-bottom: 1rem;
}
.menu__nav-head {
	padding-left: 1rem;
	color: var(--grey);
	font-size: 0.8rem;
	margin-bottom: 0.7rem;
}
.menu__nav-list {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
.menu__nav-link {
	gap: 0.8rem;
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: var(--grey-text);
	padding: 1.1rem 1.6rem;
	border-radius: 1rem;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out,
		background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.menu__nav-link__logo {
	transition: filter 0.2s ease-in-out;
	-webkit-transition: filter 0.2s ease-in-out;
	-moz-transition: filter 0.2s ease-in-out;
	-ms-transition: filter 0.2s ease-in-out;
	-o-transition: filter 0.2s ease-in-out;
}
.menu__nav-link:hover {
	color: var(--light-grey);
	background-color: var(--grey-back);
}
.menu__nav-link:hover .menu__nav-link__logo {
	filter: brightness(150%);
	-webkit-filter: brightness(150%);
}
.menu__auth {
	padding: 2rem 0rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.menu__auth-head {
	padding-left: 1rem;
	color: var(--grey);
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
}
.menu__auth-link__register {
	margin: 0 0.5rem;
	background-color: var(--dark-grey);
	color: var(--light-grey);
	text-align: center;
	padding: 1.1rem 1.4rem;
	font-size: 0.8rem;
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.menu__auth-link__register:hover {
	background-color: var(--lighter-dark-grey);
}
.menu__auth-link__login {
	margin: 0 0.5rem;
	background-color: var(--dark-purple);
	color: var(--light-grey);
	text-align: center;
	padding: 1.1rem 1.4rem;
	font-size: 0.8rem;
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.menu__auth-link__login:hover {
	background-color: var(--lighter-purple);
}

/* Main Page */
.mainpage {
	padding-left: 24rem;
	padding-top: 4rem;
	padding-right: 4rem;
	width: 100%;
}
.mainpage__login {
	background: linear-gradient(
			93.99deg,
			rgba(52, 85, 222, 0.2) 1.62%,
			rgba(0, 0, 0, 0) 18.62%
		),
		#1b2028;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 2rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	margin-bottom: 3rem;
}
.mainpage__login-text {
	color: var(--light-grey);
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.5;
}
.mainpage__login-links {
	display: flex;
	gap: 1.2rem;
}
.mainpage__login-links__client {
	color: var(--light-grey);
	padding: 1.1rem 1.9rem;
	font-size: 0.8rem;
	border: 1px solid var(--dark-purple);
	border-radius: 6rem;
	-webkit-border-radius: 6rem;
	-moz-border-radius: 6rem;
	-ms-border-radius: 6rem;
	-o-border-radius: 6rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.mainpage__login-links__client:hover {
	background-color: rgba(52, 85, 222, 0.2);
}
.mainpage__login-links__worker {
	color: var(--light-grey);
	padding: 1.1rem 1.9rem;
	font-size: 0.8rem;
	background-color: var(--dark-purple);
	box-shadow: 0px 7px 24px rgba(39, 142, 255, 0.23);
	border: 1px solid var(--dark-purple);
	border-radius: 6rem;
	-webkit-border-radius: 6rem;
	-moz-border-radius: 6rem;
	-ms-border-radius: 6rem;
	-o-border-radius: 6rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.mainpage__login-links__worker:hover {
	background-color: var(--lighter-purple);
}
.mainpage__search {
	display: flex;
	align-items: center;
	background: linear-gradient(101.62deg, #4285f4 -8.01%, #7768d5 100.67%);
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	padding: 2.5rem;
}
.mainpage__search-content {
	color: var(--light-grey);
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}
.mainpage__search-head {
	font-size: 1.5rem;
	line-height: 1.7;
	font-weight: 300;
}
.mainpage__search-head__accent {
	font-weight: 400;
}
.mainpage__search-text {
	font-size: 1.1rem;
	line-height: 2;
	font-weight: 200;
}
.mainpage__search-image > img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.mainpage__search-button {
	background-color: var(--dark-purple);
	color: var(--light-grey);
	text-align: center;
	align-self: flex-start;
	padding: 1.5rem 1.9rem;
	font-size: 0.8rem;
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}

.mainpage__search-button:hover {
	background-color: var(--lighter-purple);
}
