html {
	font-family: 'Stolzl';
}
body {
	background-color: var(--dark-grey-background);
}
/* Menu */
.main {
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
}
.menu {
	position: fixed;
}
.menu__container {
	padding: 3rem 4rem 2rem 4rem;
	border-right: 1px solid var(--light-grey-opacity);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	max-width: 15rem;
}
.menu__nav {
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--light-grey-opacity);
}
.menu__logo {
	margin-bottom: 1rem;
}
.menu__nav-head {
	padding-left: 1rem;
	color: var(--grey);
	font-size: 0.8rem;
	margin-bottom: 0.7rem;
}
.menu__nav-list {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
.menu__nav-link {
	gap: 0.8rem;
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: var(--grey-text);
	padding: 1.1rem 1.6rem;
	border-radius: 1rem;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out,
		background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.menu__nav-link__logo {
	transition: filter 0.2s ease-in-out;
	-webkit-transition: filter 0.2s ease-in-out;
	-moz-transition: filter 0.2s ease-in-out;
	-ms-transition: filter 0.2s ease-in-out;
	-o-transition: filter 0.2s ease-in-out;
}
.menu__nav-link:hover {
	color: var(--light-grey);
	background-color: var(--grey-back);
}
.menu__nav-link:hover .menu__nav-link__logo {
	filter: brightness(150%);
	-webkit-filter: brightness(150%);
}
.menu__auth {
	padding: 2rem 0rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.menu__auth-head {
	padding-left: 1rem;
	color: var(--grey);
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
}
.menu__auth-link__register {
	margin: 0 0.5rem;
	background-color: var(--dark-grey);
	color: var(--light-grey);
	text-align: center;
	padding: 1.1rem 1.4rem;
	font-size: 0.8rem;
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.menu__auth-link__register:hover {
	background-color: var(--lighter-dark-grey);
}
.menu__auth-link__login {
	margin: 0 0.5rem;
	background-color: var(--dark-purple);
	color: var(--light-grey);
	text-align: center;
	padding: 1.1rem 1.4rem;
	font-size: 0.8rem;
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.menu__auth-link__login:hover {
	background-color: var(--lighter-purple);
}

/* Main Page */
.mainpage {
	padding-left: 26rem;
}
.mainpage__login-block {
}
